<div style="display: flex; justify-content: center;">
    <img src="imagenes/robo2.jpg" style="border-radius: 20px; width: 75%;">
</div>

<small> Imagen creada por IA generativa usando el siguiente pront: 'Estoy haciendo un Jupyter Notebook en el que preparo datos para ser usados. La cabecera quiero que me quede bonita. ¿Podrías generarme una imagen de un robot cocinando datos, no muy complejo, con un fondo simple?'<small>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import os

Con el siguiente codigo me ahorro el trabajo de escribir uno a uno la linea necesaria para leer cada csv.

In [2]:
años = ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
for año in años:
    print(f'salidas{año} = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/{año}Salidas.csv", encoding="UTF-8", sep=";")')



#con esto me ahorro de escibirlo uno a uno

salidas2016 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2016Salidas.csv", encoding="UTF-8", sep=";")
salidas2017 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2017Salidas.csv", encoding="UTF-8", sep=";")
salidas2018 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2018Salidas.csv", encoding="UTF-8", sep=";")
salidas2019 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2019Salidas.csv", encoding="UTF-8", sep=";")
salidas2020 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2020Salidas.csv", encoding="UTF-8", sep=";")
salidas2021 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2021Salidas.csv", encoding="UTF-8", sep=";")
salidas2022 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2022Salidas.csv", encoding="UTF-8", sep=";")
salidas2023 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2023Salidas.csv", encoding="UTF-8", sep=";")

Hago copia/pega

In [3]:
salidas2016 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2016Salidas.csv", encoding="UTF-8", sep=";")
salidas2017 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2017Salidas.csv", encoding="UTF-8", sep=";")
salidas2018 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2018Salidas.csv", encoding="UTF-8", sep=";")
salidas2019 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2019Salidas.csv", encoding="UTF-8", sep=";")
salidas2020 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2020Salidas.csv", encoding="UTF-8", sep=";")
salidas2021 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2021Salidas.csv", encoding="UTF-8", sep=";")
salidas2022 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2022Salidas.csv", encoding="UTF-8", sep=";")
salidas2023 = pd.read_csv("C:/Users/pepea/Desktop/the_drige/EDA/datos/salidas/2023Salidas.csv", encoding="UTF-8", sep=";")

In [4]:
salidas2016.head(2)

,idVehiculo,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida,Unnamed: 13
0,321,4,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,29/11/1995 0:00,Mediodía 2,26/07/2016 9:59,NaN
1,528,3,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,08/05/1996 0:00,Mediodía 2,18/05/2016 17:11,NaN

Después de hacer una visualización del DataFrame de cada año, vimos que en el año 2016 había una columna 'Unnamed: 13', no existiendo esta columna en ningún otro año, por lo tanto, la eliminamos.

>En la preparación de los datos de entrada al depósito también vimos en 2016 una columna que no había en los otros años, pero el nombre era 'Unnamed: 11'.

In [5]:
salidas2016 = salidas2016.drop('Unnamed: 13', axis=1)

In [6]:
salidas2016.tail(2)

,idVehiculo,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida
39568,ES20161231191310,3,46,2,S333,CALLE,CALDERILLA,0,28054,Escuadrón,31/12/2016 19:13,Escuadrón,31/12/2016 21:28
39569,RE20161231231555,4,28,3,S313,CALLE,DOCTOR ESQUERDO,NaN,0,El Recuerdo,31/12/2016 23:05,El Recuerdo,31/12/2016 23:20

In [7]:
filas_con_idVehiculo_deseado = salidas2022[salidas2022['idVehiculo'] == 'CO20220219041504']
filas_con_idVehiculo_deseado

,idVehiculo,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida
548,CO20220219041504,3.0,42.0,3.0,S354,CALLE,BUSTAMANTE,0,28045,COLON,2022-02-19 04:10:00,COLON,2022-02-19 12:40:00
21355,CO20220219041504,3.0,42.0,3.0,S351,CALLE,GENERAL LACY,NaN,28045,COLON,2022-02-19 04:10:00,COLON,2022-02-19 12:40:00

In [8]:
salidas2022.loc[548, 'idVehiculo'] = 'CO20220219041505'

Al preparar las tablas de entrada en el depósito, vimos esta incidencia, así que la arreglamos de igual manera.

In [9]:
filas_repetidas = salidas2022[salidas2022.duplicated(subset=['idVehiculo'], keep=False)]

print("Filas pertenecientes a salidas con valor repetido en 'idVehiculo':")
filas_repetidas

Filas pertenecientes a salidas con valor repetido en 'idVehiculo':

Empty DataFrame
Columns: [idVehiculo, tipoVehiculo, motivo, turno, grua, tipoVia, via, numero, cp, depositoEntrada, fechaEntrada, depositoSalida, fechaSalida]
Index: []

Ahora convertiremos las columnas con fechas a datetime, todas en el mismo formato.

In [10]:
salidas2016['fechaEntrada'] = pd.to_datetime(salidas2016['fechaEntrada'], format='%d/%m/%Y %H:%M')
salidas2016['fechaSalida'] = pd.to_datetime(salidas2016['fechaSalida'], format='%d/%m/%Y %H:%M')

ValueError: time data "Escuadrón" doesn't match format "%d/%m/%Y %H:%M", at position 36911. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

Al intentar convertir las columnas de entrada y salida del año 2016, me dio error. El error indicaba que era en la posición '36911'. Al imprimir dicha fila,  
vi que la fecha de entrada, el depósito de entrada y la fecha de salida tenían los datos mezclados; faltaba una fecha. Usando el idVehículo, lo comprobé en la tabla de entradas.  
Si la fecha y/o hora en la tabla de entradas hubieran sido anteriores, la fecha en esta tabla habría sido la de salida, por lo que podríamos haberlo arreglado.  
Pero era la misma; nos falta un   dato. Volví a leer la tabla, sin eliminar la columna que se eliminó al principio, ahi estaba la informacion faltante, comente la linea donde  
se elimina la columna, imprimí con dicha columna, copie la información y volví a eliminar.

In [11]:
fila_36911 = salidas2016.iloc[36911]
fila_36911

idVehiculo                                  ES20161204075402
tipoVehiculo                                               3
motivo                                                    13
turno                                                      1
grua                                                    S314
tipoVia                                              AVENIDA
via                PRINCESA JUANA DE AUSTRIA (MARGEN DERECHA
numero                   HASTA EL KM. 5.300 -CEMENTERIO SUR)
cp                                                         0
depositoEntrada                                        28025
fechaEntrada                                       Escuadrón
depositoSalida                               04/12/2016 7:51
fechaSalida                                        Escuadrón
Name: 36911, dtype: object

In [12]:
salidas2016.iloc[36911, salidas2016.columns.get_loc('fechaEntrada')] = '04/12/2016 07:51'
salidas2016.iloc[36911, salidas2016.columns.get_loc('depositoSalida')] = 'Escuadrón'
salidas2016.iloc[36911, salidas2016.columns.get_loc('fechaSalida')] = '04/12/2016 16:33'

In [13]:
#Codigo para en año 2016
salidas2016['fechaEntrada'] = pd.to_datetime(salidas2016['fechaEntrada'], format='%d/%m/%Y %H:%M')
salidas2016['fechaSalida'] = pd.to_datetime(salidas2016['fechaSalida'], format='%d/%m/%Y %H:%M')

#Codigo para en año 2017
salidas2017['fechaEntrada'] = pd.to_datetime(salidas2017['fechaEntrada'], format='%d/%m/%Y %H:%M')
salidas2017['fechaSalida'] = pd.to_datetime(salidas2017['fechaSalida'], format='%d/%m/%Y %H:%M')

#Codigo para en año 2018
salidas2018['fechaEntrada'] = pd.to_datetime(salidas2018['fechaEntrada'], format='%d/%m/%Y %H:%M')
salidas2018['fechaSalida'] = pd.to_datetime(salidas2018['fechaSalida'], format='%d/%m/%Y %H:%M')

#Codigo para en año 2019
salidas2019['fechaEntrada'] = pd.to_datetime(salidas2019['fechaEntrada'], format='%d/%m/%Y %H:%M')
salidas2019['fechaSalida'] = pd.to_datetime(salidas2019['fechaSalida'], format='%d/%m/%Y %H:%M')

#Codigo para en año 2020
salidas2020['fechaEntrada'] = pd.to_datetime(salidas2020['fechaEntrada'], format='%d/%m/%Y %H:%M')
salidas2020['fechaSalida'] = pd.to_datetime(salidas2020['fechaSalida'], format='%d/%m/%Y %H:%M')

Ahora haremos lo mismo con los años que faltan. Están en otro formato, por lo tanto, no se puede hacer todo de una vez.

In [14]:
fecha_ultimos_años = ['2021', '2022', '2023']
for año_s in fecha_ultimos_años:
    print(f'#Codigo para en año {año_s}')
    print(f"salidas{año_s}['fechaEntrada'] = pd.to_datetime(salidas{año_s}['fechaEntrada'])")
    print(f"salidas{año_s}['fechaSalida'] = pd.to_datetime(salidas{año_s}['fechaSalida'])")
    print()

#Codigo para en año 2021
salidas2021['fechaEntrada'] = pd.to_datetime(salidas2021['fechaEntrada'])
salidas2021['fechaSalida'] = pd.to_datetime(salidas2021['fechaSalida'])

#Codigo para en año 2022
salidas2022['fechaEntrada'] = pd.to_datetime(salidas2022['fechaEntrada'])
salidas2022['fechaSalida'] = pd.to_datetime(salidas2022['fechaSalida'])

#Codigo para en año 2023
salidas2023['fechaEntrada'] = pd.to_datetime(salidas2023['fechaEntrada'])
salidas2023['fechaSalida'] = pd.to_datetime(salidas2023['fechaSalida'])

In [15]:
#Codigo para en año 2021
salidas2021['fechaEntrada'] = pd.to_datetime(salidas2021['fechaEntrada'])
salidas2021['fechaSalida'] = pd.to_datetime(salidas2021['fechaSalida'])

#Codigo para en año 2022
salidas2022['fechaEntrada'] = pd.to_datetime(salidas2022['fechaEntrada'])
salidas2022['fechaSalida'] = pd.to_datetime(salidas2022['fechaSalida'])

#Codigo para en año 2023
salidas2023['fechaEntrada'] = pd.to_datetime(salidas2023['fechaEntrada'])
salidas2023['fechaSalida'] = pd.to_datetime(salidas2023['fechaSalida'])

In [16]:
salidas2019.head()

,idVehiculo,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida
0,ES20191202031419,3.0,30.0,3.0,S319,CUESTA,DE LA VEGA,F 104,0,ESCUADRON,2019-12-02 03:10:00,ESCUADRON,2019-12-02 12:09:00
1,ES20190505082215,4.0,30.0,1.0,S345,CUESTA,DE LA VEGA,SN,0,ESCUADRON,2019-05-05 08:18:00,ESCUADRON,2019-05-05 16:55:00
2,ES20191202010731,3.0,30.0,3.0,S319,CUESTA,DE LA VEGA,100,0,ESCUADRON,2019-12-02 01:06:00,ESCUADRON,2019-12-04 19:40:00
3,CO20191202023310,3.0,30.0,3.0,S346,CUESTA,DE LA VEGA,99,0,COLON,2019-12-02 02:31:00,COLON,2019-12-02 15:39:00
4,ES20191202033622,3.0,30.0,3.0,S370,CUESTA,DE LA VEGA,0,0,ESCUADRON,2019-12-02 03:35:00,ESCUADRON,2019-12-04 07:23:00

Ahora añadiremos una columna con el tiempo que pasó el vehículo en el depósito

In [17]:
todos_los_años = ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']
for dias in todos_los_años:
    print(f'#Codigo para en año {dias}')
    print(f"salidas{dias}['TiempoEnDeposito (dias)'] = salidas{dias}['fechaSalida'] - salidas{dias}['fechaEntrada']")
    print()

#Codigo para en año 2016
salidas2016['TiempoEnDeposito (dias)'] = salidas2016['fechaSalida'] - salidas2016['fechaEntrada']

#Codigo para en año 2017
salidas2017['TiempoEnDeposito (dias)'] = salidas2017['fechaSalida'] - salidas2017['fechaEntrada']

#Codigo para en año 2018
salidas2018['TiempoEnDeposito (dias)'] = salidas2018['fechaSalida'] - salidas2018['fechaEntrada']

#Codigo para en año 2019
salidas2019['TiempoEnDeposito (dias)'] = salidas2019['fechaSalida'] - salidas2019['fechaEntrada']

#Codigo para en año 2020
salidas2020['TiempoEnDeposito (dias)'] = salidas2020['fechaSalida'] - salidas2020['fechaEntrada']

#Codigo para en año 2021
salidas2021['TiempoEnDeposito (dias)'] = salidas2021['fechaSalida'] - salidas2021['fechaEntrada']

#Codigo para en año 2022
salidas2022['TiempoEnDeposito (dias)'] = salidas2022['fechaSalida'] - salidas2022['fechaEntrada']

#Codigo para en año 2023
salidas2023['TiempoEnDeposito (dias)'] = salidas2023['fechaSalida'] - salidas2023['fechaEntrada']

In [18]:
#Codigo para en año 2016
salidas2016['TiempoEnDeposito (dias)'] = salidas2016['fechaSalida'] - salidas2016['fechaEntrada']

#Codigo para en año 2017
salidas2017['TiempoEnDeposito (dias)'] = salidas2017['fechaSalida'] - salidas2017['fechaEntrada']

#Codigo para en año 2018
salidas2018['TiempoEnDeposito (dias)'] = salidas2018['fechaSalida'] - salidas2018['fechaEntrada']

#Codigo para en año 2019
salidas2019['TiempoEnDeposito (dias)'] = salidas2019['fechaSalida'] - salidas2019['fechaEntrada']

#Codigo para en año 2020
salidas2020['TiempoEnDeposito (dias)'] = salidas2020['fechaSalida'] - salidas2020['fechaEntrada']

#Codigo para en año 2021
salidas2021['TiempoEnDeposito (dias)'] = salidas2021['fechaSalida'] - salidas2021['fechaEntrada']

#Codigo para en año 2022
salidas2022['TiempoEnDeposito (dias)'] = salidas2022['fechaSalida'] - salidas2022['fechaEntrada']

#Codigo para en año 2023
salidas2023['TiempoEnDeposito (dias)'] = salidas2023['fechaSalida'] - salidas2023['fechaEntrada']

In [19]:
salidas2016

,idVehiculo,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida,TiempoEnDeposito (dias)
0,321,4,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1995-11-29 00:00:00,Mediodía 2,2016-07-26 09:59:00,7545 days 09:59:00
1,528,3,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1996-05-08 00:00:00,Mediodía 2,2016-05-18 17:11:00,7315 days 17:11:00
2,592,3,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1996-05-14 00:00:00,Mediodía 2,2016-11-25 14:21:00,7500 days 14:21:00
3,162,3,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1997-02-27 00:00:00,Mediodía 2,2016-06-29 18:55:00,7062 days 18:55:00
4,217,3,22,1,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1997-04-30 00:00:00,Vicálvaro,2016-08-08 12:58:00,7040 days 12:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39565,ES20161231182031,3,46,2,S330,CALLE,CALDERILLA,1,28054,Escuadrón,2016-12-31 18:15:00,Escuadrón,2016-12-31 19:19:00,0 days 01:04:00
39566,ES20161231182842,3,4,2,S338,CALLE,JUAN FRANCISCO,18,28019,Escuadrón,2016-12-31 18:25:00,Escuadrón,2016-12-31 18:46:00,0 days 00:21:00
39567,RE20161231190948,3,6,2,S311,CALLE,JATIVA,55,28007,El Recuerdo,2016-12-31 19:09:00,El Recuerdo,2016-12-31 21:02:00,0 days 01:53:00
39568,ES20161231191310,3,46,2,S333,CALLE,CALDERILLA,0,28054,Escuadrón,2016-12-31 19:13:00,Escuadrón,2016-12-31 21:28:00,0 days 02:15:00
39569,RE20161231231555,4,28,3,S313,CALLE,DOCTOR ESQUERDO,NaN,0,El Recuerdo,2016-12-31 23:05:00,El Recuerdo,2016-12-31 23:20:00,0 days 00:15:00

Ya tenemos los dataframes con formato fecha y tiempo en deposito, ahora añadiremos información que falta.

In [20]:

tipo_de_vehiculo = { 1: "Motocicleta",2: "Motocarro",3: "Coche",4: "Camión",5: "Vehículo pesado", 6.0: "Bicicletas",7.0: "Patinetes (VMP)",8.0: "Remolque",} #procede de CSV auxuliares
tipo_turno = {1:"Mañana", 2:"Tarde", 3:"Noche"}
for año_info in todos_los_años:
    print(f'#Codigo para en año {año_info}')
    print(f"salidas{año_info}['turno'] = salidas{año_info}['turno'].replace(tipo_turno)")
    print(f"salidas{año_info}['tipoVehiculo'] = salidas{año_info}['tipoVehiculo'].replace(tipo_de_vehiculo)")
    print()

#Codigo para en año 2016
salidas2016['turno'] = salidas2016['turno'].replace(tipo_turno)
salidas2016['tipoVehiculo'] = salidas2016['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2017
salidas2017['turno'] = salidas2017['turno'].replace(tipo_turno)
salidas2017['tipoVehiculo'] = salidas2017['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2018
salidas2018['turno'] = salidas2018['turno'].replace(tipo_turno)
salidas2018['tipoVehiculo'] = salidas2018['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2019
salidas2019['turno'] = salidas2019['turno'].replace(tipo_turno)
salidas2019['tipoVehiculo'] = salidas2019['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2020
salidas2020['turno'] = salidas2020['turno'].replace(tipo_turno)
salidas2020['tipoVehiculo'] = salidas2020['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2021
salidas2021['turno'] = salidas2021['turno'].replace(tipo_turno)
salidas2021['tipoVehiculo'] = salidas2021['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2022
salidas2022['turno'] = salidas2022['turno'].replace(tipo_turno)
salidas2022['tipoVehiculo'] = salidas2022['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2023
salidas2023['turno'] = salidas2023['turno'].replace(tipo_turno)
salidas2023['tipoVehiculo'] = salidas2023['tipoVehiculo'].replace(tipo_de_vehiculo)

In [21]:
#Codigo para en año 2016
salidas2016['turno'] = salidas2016['turno'].replace(tipo_turno)
salidas2016['tipoVehiculo'] = salidas2016['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2017
salidas2017['turno'] = salidas2017['turno'].replace(tipo_turno)
salidas2017['tipoVehiculo'] = salidas2017['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2018
salidas2018['turno'] = salidas2018['turno'].replace(tipo_turno)
salidas2018['tipoVehiculo'] = salidas2018['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2019
salidas2019['turno'] = salidas2019['turno'].replace(tipo_turno)
salidas2019['tipoVehiculo'] = salidas2019['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2020
salidas2020['turno'] = salidas2020['turno'].replace(tipo_turno)
salidas2020['tipoVehiculo'] = salidas2020['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2021
salidas2021['turno'] = salidas2021['turno'].replace(tipo_turno)
salidas2021['tipoVehiculo'] = salidas2021['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2022
salidas2022['turno'] = salidas2022['turno'].replace(tipo_turno)
salidas2022['tipoVehiculo'] = salidas2022['tipoVehiculo'].replace(tipo_de_vehiculo)

#Codigo para en año 2023
salidas2023['turno'] = salidas2023['turno'].replace(tipo_turno)
salidas2023['tipoVehiculo'] = salidas2023['tipoVehiculo'].replace(tipo_de_vehiculo)

In [22]:
motivos= pd.read_csv(r'C:\Users\pepea\Desktop\the_drige\EDA\datos\auxiliares\motivosretirada.csv', encoding="UTF-8", sep=";")
motivos.drop(["Reason","E. Reason"], axis=1, inplace=True) 
motivos.tail(5)

,Codigo,Motivo,E. Motivo
55,57,Implicado en hechos delictivos,Implicado en hechos delictivos
56,58,Vehículo policial,Vehículo policial
57,59,Obras (No en relación 48H),Estacionar en zona señalizada para la realizac...
58,60,Poda (No en relación 48H),Estacionado en zona reservada para la realizac...
59,61,Asfalto (No en relación 48H),Estacionado en zona reservada para la realizac...

In [23]:
salidas2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39570 entries, 0 to 39569
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   idVehiculo               39570 non-null  object
 1   tipoVehiculo             39570 non-null  object
 2   motivo                   39570 non-null  int64
 3   turno                    39570 non-null  object
 4   grua                     39466 non-null  object
 5   tipoVia                  39565 non-null  object
 6   via                      39565 non-null  object
 7   numero                   36373 non-null  object
 8   cp                       37427 non-null  object
 9   depositoEntrada          39570 non-null  object
 10  fechaEntrada             39570 non-null  datetime64[ns]
 11  depositoSalida           39570 non-null  object
 12  fechaSalida              39570 non-null  datetime64[ns]
 13  TiempoEnDeposito (dias)  39570 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(10), timedelta64[ns](1)
memory usage: 4.2+ MB

In [24]:

for año_info in todos_los_años:
    print(f'#Codigo para en año {año_info}')
    print(f"salidas{año_info}['motivo'] = salidas{año_info}['motivo'].map(motivos.set_index('Codigo')['Motivo'])")
    print(f"salidas{año_info} = salidas{año_info}.set_index('idVehiculo')")
    print()

#Codigo para en año 2016
salidas2016['motivo'] = salidas2016['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2016 = salidas2016.set_index('idVehiculo')

#Codigo para en año 2017
salidas2017['motivo'] = salidas2017['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2017 = salidas2017.set_index('idVehiculo')

#Codigo para en año 2018
salidas2018['motivo'] = salidas2018['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2018 = salidas2018.set_index('idVehiculo')

#Codigo para en año 2019
salidas2019['motivo'] = salidas2019['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2019 = salidas2019.set_index('idVehiculo')

#Codigo para en año 2020
salidas2020['motivo'] = salidas2020['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2020 = salidas2020.set_index('idVehiculo')

#Codigo para en año 2021
salidas2021['motivo'] = salidas2021['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2021 = salidas2021.set_index('idVehiculo')

#Codigo para en año 2022
salidas2022['motivo'] = salidas2022['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2022 = salidas2022.set_index('idVehiculo')

#Codigo para en año 2023
salidas2023['motivo'] = salidas2023['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2023 = salidas2023.set_index('idVehiculo')

In [25]:
#Codigo para en año 2016
salidas2016['motivo'] = salidas2016['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2016 = salidas2016.set_index('idVehiculo')

#Codigo para en año 2017
salidas2017['motivo'] = salidas2017['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2017 = salidas2017.set_index('idVehiculo')

#Codigo para en año 2018
salidas2018['motivo'] = salidas2018['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2018 = salidas2018.set_index('idVehiculo')

#Codigo para en año 2019
salidas2019['motivo'] = salidas2019['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2019 = salidas2019.set_index('idVehiculo')

#Codigo para en año 2020
salidas2020['motivo'] = salidas2020['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2020 = salidas2020.set_index('idVehiculo')

#Codigo para en año 2021
salidas2021['motivo'] = salidas2021['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2021 = salidas2021.set_index('idVehiculo')

#Codigo para en año 2022
salidas2022['motivo'] = salidas2022['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2022 = salidas2022.set_index('idVehiculo')

#Codigo para en año 2023
salidas2023['motivo'] = salidas2023['motivo'].map(motivos.set_index('Codigo')['Motivo'])
salidas2023 = salidas2023.set_index('idVehiculo')

In [26]:
salidas2020.head(3)

,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida,TiempoEnDeposito (dias)
idVehiculo,,,,,,,,,,,,,
M320190917113959,Coche,Falta de documentación,Mañana,S313,CALLE,SANCHEZ PRECIADOS,36,NaN,MEDIODIA 3,2019-09-17 11:38:00,MEDIODIA 3,2020-07-01 21:57:00,288 days 10:19:00
CO20200203101641,Coche,Carga y Descarga,Mañana,S358,CALLE,AMANIEL,26,NaN,COLON,2020-02-03 10:10:00,COLON,2020-02-10 15:27:00,7 days 05:17:00
CO20200815100439,Coche,R Minusválido,Mañana,S331,CALLE,AMANIEL,34,NaN,COLON,2020-08-15 10:00:00,COLON,2020-08-16 01:17:00,0 days 15:17:00

Las guardaremos en formato parquet

In [27]:
carpeta_salida = 'salidas_validas'
for parque in todos_los_años: 
    print(f"#Codigo pra el el año {parque}:")
    print(f"nombre_archivo = 'salidas{parque}_util.parquet'")
    print(f"salidas{parque}.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)")
    print()

#Codigo pra el el año 2016:
nombre_archivo = 'salidas2016_util.parquet'
salidas2016.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2017:
nombre_archivo = 'salidas2017_util.parquet'
salidas2017.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2018:
nombre_archivo = 'salidas2018_util.parquet'
salidas2018.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2019:
nombre_archivo = 'salidas2019_util.parquet'
salidas2019.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2020:
nombre_archivo = 'salidas2020_util.parquet'
salidas2020.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2021:
nombre_archivo = 'salidas2021_util.parquet'
salidas2021.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2022:
nombre_archivo = 'salidas2022_util.parquet'
salidas2022.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2023:
nombre_archivo = 'salidas2023_util.parquet'
salidas2023.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

In [28]:
#Codigo pra el el año 2016:
nombre_archivo = 'salidas2016_util.parquet'
salidas2016.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2017:
nombre_archivo = 'salidas2017_util.parquet'
salidas2017.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2018:
nombre_archivo = 'salidas2018_util.parquet'
salidas2018.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2019:
nombre_archivo = 'salidas2019_util.parquet'
salidas2019.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2020:
nombre_archivo = 'salidas2020_util.parquet'
salidas2020.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2021:
nombre_archivo = 'salidas2021_util.parquet'
salidas2021.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2022:
nombre_archivo = 'salidas2022_util.parquet'
salidas2022.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

#Codigo pra el el año 2023:
nombre_archivo = 'salidas2023_util.parquet'
salidas2023.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

In [29]:
nombres_dataframes = ['salidas2016', 'salidas2017', 'salidas2018', 'salidas2019', 'salidas2020', 'salidas2021', 'salidas2022', 'salidas2023']
dataframes = [globals()[nombre] for nombre in nombres_dataframes]
df_salidas_todo = pd.concat(dataframes)
df_salidas_todo

,tipoVehiculo,motivo,turno,grua,tipoVia,via,numero,cp,depositoEntrada,fechaEntrada,depositoSalida,fechaSalida,TiempoEnDeposito (dias)
idVehiculo,,,,,,,,,,,,,
321,Camión,Precinto,Mañana,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1995-11-29 00:00:00,Mediodía 2,2016-07-26 09:59:00,7545 days 09:59:00
528,Coche,Precinto,Mañana,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1996-05-08 00:00:00,Mediodía 2,2016-05-18 17:11:00,7315 days 17:11:00
592,Coche,Precinto,Mañana,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1996-05-14 00:00:00,Mediodía 2,2016-11-25 14:21:00,7500 days 14:21:00
162,Coche,Precinto,Mañana,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1997-02-27 00:00:00,Mediodía 2,2016-06-29 18:55:00,7062 days 18:55:00
217,Coche,Precinto,Mañana,NaN,CALLE,SIN DETERMINAR,0,28001,Mediodía 2,1997-04-30 00:00:00,Vicálvaro,2016-08-08 12:58:00,7040 days 12:58:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
M320230302121512,Motocicleta,Sustraído,Mañana,S373,CAMINO,PERALES,173,28053,MEDIODIA 3,2023-03-02 12:00:00,MEDIODIA 3,2023-03-02 19:00:00,0 days 07:00:00
M320220607093759,Coche,Prohibido Placas,Mañana,S363,CAMINO,PERALES,23,28053,MEDIODIA 3,2022-06-07 09:36:00,MEDIODIA 3,2023-01-25 17:35:00,232 days 07:59:00
M320220607112625,Coche,Falta de documentación,Mañana,S335,CAMINO,PERALES,0,28053,MEDIODIA 3,2022-06-07 11:25:00,MEDIODIA 3,2023-02-15 10:56:00,252 days 23:31:00
PI20230202122016,Coche,Prohibido Placas,Mañana,S331,PUERTO,BALBARAN,133,28018,PASEO IMPERIAL,2023-02-02 12:15:00,PASEO IMPERIAL,2023-02-02 17:52:00,0 days 05:37:00
CO20230916170349,Motocicleta,R Minusválido,Tarde,S367,CAMINO,DE HORTALEZA,0,NaN,COLON,2023-09-16 17:02:00,COLON,2023-09-21 08:28:00,4 days 15:26:00

In [30]:
carpeta_salida = 'salidas_validas'
nombre_archivo = 'df_salidas_todo'
df_salidas_todo.to_parquet(os.path.join(carpeta_salida, nombre_archivo), index=True)

### Ya tenemos los datos preparados para comprobar si nuestra segunda hipótesis es verdad o no

<img src="./imagenes/cansada.jpg" width=600><sub><sup>

<small>Imagen creada por IA generativa usando el siguiente pront "dibujame una grua de remolcar coches, algo antropomorfa, que se le vea cansada. Tipo dibujo animado.<small>